.picsum-img-wrapper {
  img {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: block;
    margin: 0;
  }
}

:host {
  ::ng-deep {
    .carousel-caption {
      top: 50%;
    }

    .sr-only {
      border: 0;
      clip: rect(1px, 1px, 1px, 1px); /* 1 */
      -webkit-clip-path: inset(50%);
      clip-path: inset(50%);  /* 2 */
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
      white-space: nowrap;
    }
  }
}




