<ngb-carousel
  [showNavigationArrows]="true"
  [showNavigationIndicators]="true"
  [interval]="7000"
  [keyboard]="true"
  [pauseOnHover]="true"
  [wrap]="true"
  #carousel
  activeId="slide1">
  <ng-template *ngFor="let image of images; let i = index" ngbSlide id="slide{{i}}">
    <div class="picsum-img-wrapper">
      <img [src]="images[i]" alt="Slide {{i + 1}}">
    </div>
    <div class="carousel-caption">
      <h3>Slide {{ i + 1 }}</h3>
      <p>Caption for slide {{ i + 1 }}</p>
    </div>
  </ng-template>
</ngb-carousel>
